 {% extends "base.html" %}

{% block page_title %}
    Profile edit
{% endblock page_title %}

<!-- Start Edit Profile Section -->
{% block content %}
    <div class="edit-delete">
        <h2>Edit Profile</h2>
        <!-- Start Edit Profile From -->
        <form action="{% url 'profile_edit' pk=object.pk %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
 
            <!-- Edit Profile Button -->
            <button class="edit-btn" type="submit">Edit</button>
        </form>
        <!-- End Edit Profile Form -->

    </div>
{% endblock content %}
