{% extends "base.html" %}
{% load static %}
{% block page_title %}
    Profile details
{% endblock page_title %}

<!-- Start Profile Details Section -->
{% block content %}
    <div class="profile">
        <!-- Start Profile Personal Data Section -->
        <div class="profile-data">
          
            <div class="profile_img">
                <div class="image">
                    <!-- Profile Image -->
                    {%  if  profile.profile_picture %}
                        <img src = "{{ profile.profile_picture }}" alt='profile pic' />
                    {% else %}
                        <img src="{% static 'images/person.png' %}" alt="img8"/>
                  {% endif %}  
                </div>
            </div>
        
            <div class="personal">
                <div class="edit">
                    <!-- User Username -->
                    <p>{{ profile.user.get_email_username }}</p>
                     <!-- IF the viewer is the owner of the profile -->
                    {%  if object.pk == request.user.pk %}
                       
                        <!-- Edit Profile Page -->
                        <a href="{% url "profile_edit" request.user.pk %}">
                            <img class="edit-img" src="{% static "images/edit-pen-icon-6.jpg" %}"
                                    alt="edit button" />
                        </a>
    
                        <!-- Delete Profile Page -->
                        <a href="{% url "profile_delete" request.user.pk %}">
                            <img class="bin-img" src="{% static "images/icon-remove-22.jpg" %}"
                                    alt="bin button" />
                        </a>
                    {% endif %}
                    <!-- End IF the viewer is the owner of the profile -->
                </div>
                <div class="data">
                    <!-- Total Number of Photos by the User -->
                    <span>{{ photos.count|default:0 }}</span>
                    <p>photos</p>

                    <!-- Total Number of Pets owned by the User -->
                    <span>{{ pets.count|default:0 }}</span>
                    <p>pets</p>

                    <!-- Total Number of Likes for the User -->
                    <span>{{ likes.count|default:0 }}</span>
                    <p>likes</p>
                </div>
            {% if profile.full_name %}
                <h3 class="names">{{ profile.full_name }}</h3>
            {% endif %}
              
                <p class="email">{{ profile.user.email}}</p>

            {% if profile.get_gender_display != 'Do not show' %}
                <p class="gender">{{ profile.get_gender_display }}</p>
            {% endif %}
            </div>
        
        </div>
        <!-- End Profile Personal Data Section -->

        <!-- Start Pets Data Section -->
        <div class="pets">
            <div class="statuses">
  
                {% for pet in pets %}
              
{#                    <!-- Link to Pet Details Page -->#}
                    <a href="{% url "pet_details" username=pet.user.profile.full_name|lower pet_slug=pet.slug %}">
                        <div class="head-pet">
                            <div class="status">
                                <div class="image">
                                    <!-- Pet Image -->
                                    <img src="{{ pet.pet_photo }}" alt="pet img" />
                                </div>
                            </div>
                            <!-- Pet Name -->
                            <p>{{ pet.name }}</p>
                        </div>
                    </a>
{#                    #}
                {% endfor %}
                 
            </div>
        </div>
        <!-- End Pets Data Section -->
      {% if photos %}
        <!-- Start Last Uploaded Photos Section -->
        <div class="pet-photos">
      
            {% for photo in photos %}
          
            <!-- Link to Last Uploaded Pet Photo -->
            <a href="{% url 'photo_details' photo.pk %}">
                <!-- Pet Photo -->
                <img
                        src="{{ photo.photo.url }}"
                        alt="pet img"
                />
            </a>

            {% endfor %}
        </div>
        <!-- End Last Uploaded Photos Section -->
    {% else %}
        <!-- IF NO Posts Show No Post Image -->

        <img
                class="no-posts"
                src="{% static "images/no_posts.png" %}"
                alt="no posts"
        />
        {% endif %}
    </div>
 {% endblock content %}