{% extends "base.html" %}
    
{% block page_title %}
    Pet delete
{% endblock page_title %}

<!-- Starts Delete Pet Section -->
{% block content %}
     <div class="edit-delete edit-photo">
        <h2>Delete pet</h2>
        <!-- Starts Delete Pet Form -->
        <form method="post" action="{% url 'pet_delete' username=request.user.username pet_slug=pet.slug %}">
            {{ form.as_p }}
            {% csrf_token %}
 
            <!-- Delete Pet Button -->
            <button class="delete-btn" type="submit">Delete</button>
            <!-- Go Back Button -->
            <a class="btn btn-primary" href="javascript:history.back()">
                <button class="edit-btn" type="button">Go back</button>
            </a>
        </form>
        <!-- End Delete Pet Form -->
    </div>
{% endblock content %}