{%  extends "base.html" %}
{% load static %}
 

{% block content %}
     <div class="container">
        <div class="col-9">

            <!-- Start Searchbar Form -->
            <form class="searchbar" action="{% url 'home'%}" method="get">
                <input type="text"
                       name = "pet_name_pattern"
                       placeholder="Search by pet name..."
                      {% if pet_name_pattern %}
                         value="{{ pet_name_pattern }}"
                      {% endif %}  />
            
{#            http://localhost:8000/?pet_name_pattern=hh#}
              
                <button>
                    <img src="{% static "images/search.png" %}"  height="18" alt="img2">
                </button>
            </form>
            <!-- End Searchbar Form -->

            <!-- Start Pet Photos Post Section -->
{# can use context for home-page.html  or pass as parameter #}
           {% include 'partials/photo-cards-list.html' with photo_list=photos %} 
             <!-- End Pet Photos Post Section -->

        </div>
    </div>
{% endblock content %}

 