{% load static %}

<!DOCTYPE html>
<html lang="en">
 
<head>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="icon" type="image/x-icon" href="{% static  "images/free-30-instagram-stories-icons23_122570.png" %}">
    <title>Petstagram 2024 
        {% block page_title %}{% endblock page_title %}
    </title>

</head>
 

<!-- Starts Body Section -->
<body>

<!-- Starts Header Section with Navigation Bar -->
{% include 'partials/header.html' %}
<!-- End Header Section with Navigation Bar -->

<!-- Starts Main Section -->
<main>
    {% block content %}
    {% endblock content %}
</main>
<!-- End Main Section -->

<!-- Start Footer Section -->
<div class="footer">
		<span class="footer-section">
			© 2024 WORKSHOP FOR PYTHON WEB MODULE
		</span>
</div>
<!-- End Footer Section -->

</body>
</html>